* {
    font-family: roboto, sans-serif;
}

body {
    margin: 0px;
}

.one{
    background-color: #1f2937;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
    margin-bottom: 96px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 32px;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    margin:  0px 120px;
}

.heading {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    width: 450px;
}

a,
.header-text {
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
}

.placeholder {
    width: 400px;
    height: 200px;
    background-color: rgb(101, 103, 116);
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 4px 18px;
    border-radius: 4px;
    border: none;
    display: flex;
    margin: 8px 0px;
    cursor: pointer;
}

.two {
    margin-top: 100px;
    background-color: #e5e7eb;
}
.random-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}
.cards {
    display: flex;
    margin: 36px 0px 0px 0px;
    justify-content: space-around;
}